<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-participant-heading" jhiTranslate="jhipsterApp.participant.home.createOrEditLabel">Create or edit a Participant</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!participant.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="participant.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.participant.organisateur" for="field_organisateur">Organisateur</label>
                    <input type="checkbox" class="form-control" name="organisateur" id="field_organisateur"
                        [(ngModel)]="participant.organisateur" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.participant.personne" for="field_personne">Personne</label>
                    <select class="form-control" id="field_personne" name="personne" [(ngModel)]="participant.personne" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personneOption.id === participant.personne?.id ? participant.personne : personneOption" *ngFor="let personneOption of personnes; trackBy: trackPersonneById">{{personneOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.participant.evenement" for="field_evenement">Evenement</label>
                    <select class="form-control" id="field_evenement" name="evenement" [(ngModel)]="participant.evenement" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="evenementOption.id === participant.evenement?.id ? participant.evenement : evenementOption" *ngFor="let evenementOption of evenements; trackBy: trackEvenementById">{{evenementOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
