<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="propConfig">
            <h2><span jhiTranslate="jhipsterApp.propConfig.detail.title">Prop Config</span> {{propConfig.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.propConfig.nom">Nom</span></dt>
                <dd>
                    <span>{{propConfig.nom}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.propConfig.valeur">Valeur</span></dt>
                <dd>
                    <span>{{propConfig.valeur}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.propConfig.description">Description</span></dt>
                <dd>
                    <span>{{propConfig.description}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.propConfig.version">Version</span></dt>
                <dd>
                    <span>{{propConfig.version}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/prop-config', propConfig.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
