<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterApp.commercantInformations.home.title">Commercant Informations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-commercant-informations" [routerLink]="['/commercant-informations/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterApp.commercantInformations.home.createLabel">
            Create new Commercant Informations
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="commercantInformations">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="cle"><span jhiTranslate="jhipsterApp.commercantInformations.cle">Cle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="valeur"><span jhiTranslate="jhipsterApp.commercantInformations.valeur">Valeur</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="commercant.id"><span jhiTranslate="jhipsterApp.commercantInformations.commercant">Commercant</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let commercantInformations of commercantInformations ;trackBy: trackId">
                <td><a [routerLink]="['/commercant-informations', commercantInformations.id, 'view' ]">{{commercantInformations.id}}</a></td>
                <td>{{commercantInformations.cle}}</td>
                <td>{{commercantInformations.valeur}}</td>
                <td>
                    <div *ngIf="commercantInformations.commercant">
                        <a [routerLink]="['../commercant', commercantInformations.commercant?.id, 'view' ]" >{{commercantInformations.commercant?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/commercant-informations', commercantInformations.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/commercant-informations', commercantInformations.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'commercant-informations', { outlets: { popup: commercantInformations.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
