<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="adresse">
            <h2><span jhiTranslate="jhipsterApp.adresse.detail.title">Adresse</span> {{adresse.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterApp.adresse.adressePostale">Adresse Postale</span></dt>
                <dd>
                    <span>{{adresse.adressePostale}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.adresse.codePostale">Code Postale</span></dt>
                <dd>
                    <span>{{adresse.codePostale}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.adresse.ville">Ville</span></dt>
                <dd>
                    <span>{{adresse.ville}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterApp.adresse.pays">Pays</span></dt>
                <dd>
                    <span>{{adresse.pays}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/adresse', adresse.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
