<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-adresse-heading" jhiTranslate="jhipsterApp.adresse.home.createOrEditLabel">Create or edit a Adresse</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!adresse.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="adresse.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.adresse.adressePostale" for="field_adressePostale">Adresse Postale</label>
                    <input type="text" class="form-control" name="adressePostale" id="field_adressePostale"
                        [(ngModel)]="adresse.adressePostale" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.adresse.codePostale" for="field_codePostale">Code Postale</label>
                    <input type="text" class="form-control" name="codePostale" id="field_codePostale"
                        [(ngModel)]="adresse.codePostale" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.adresse.ville" for="field_ville">Ville</label>
                    <input type="text" class="form-control" name="ville" id="field_ville"
                        [(ngModel)]="adresse.ville" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterApp.adresse.pays" for="field_pays">Pays</label>
                    <input type="text" class="form-control" name="pays" id="field_pays"
                        [(ngModel)]="adresse.pays" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
